<!DOCTYPE html>
<html>
<body background="imagenes/web/index.jpg">

</body>
</html>
<script src="/socket.io/socket.io.js"></script>
<script>
  /*var socket = io('http://18.231.174.94:4902');
  socket.emit('user', 
                  {name:"nombre"}, 
                  function(confirmation){

                          console.log(confirmation);
                  }
                 );*/
</script>